@import '../css/reset.css';
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500&display=swap');


$nhs-color: #005EB8;
$nhs-light-blue: #41B6E6;
$nhs-aqua-green: #00A499;
$nhs-dark-blue: #003087;
$nhs-pink: #AE2573;
$nhs-dark-pink: #7C2855;
$nhs-purple: #330072;
$nhs-pale-gray: #E8EDEE;
$nhs-mid-gray: #768692;
$nhs-dark-gray: #425563;
$milk-white: #faf6ef;




body {
  color: $nhs-color;
  font-family: 'Barlow', sans-serif;
  position: relative;
}

.button {
  border: none;
  outline: none;
  background-color: $nhs-color;
  color: #fff;
  width: 380px;
  margin: 20px auto 40px auto;
  &:hover {
    color: #fff;
    background-color: $nhs-light-blue;
    transition: .3s ease;
  }
}

.formStyle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.links {
  text-decoration: underline;
  &:hover {
    color: $nhs-light-blue;
    transition: .3s ease;
  }
}

.selectInput {
  margin-top: 20px;
}


.MuiContainer-root {
  padding-left: 64px;
  padding-right: 24px;

}

.input .textarea {
  &:focus {
    border-color: $nhs-pink;
  }
}


.flexBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.homeTitle {
  color: black;
  font-size: 30px;
  font-weight: 500;
}

.homeContent {
  font-size: 18px;
  margin-bottom: 10px;
}

.title {
  color: $nhs-color;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 30px;
}

.content {
  font-size: 20px;
  color: $nhs-dark-blue;
}

.navbar {
  background-color: transparent;
  background-image: none;
  position: absolute;
}

.naV {
  color: $nhs-color;
  font-weight: 400;
  font-size: 18px;
  &:hover {
    color: $nhs-light-blue;
  }
}


.navbar-item {
  &:hover{
    color: $nhs-light-blue;
  }
}

.tile-is-child-notification {
  background-color: $nhs-light-blue;
}


.bookPage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background-color: $milk-white;
}


.formTitle {
  font-size: 28px;
  margin-bottom: 5px;
}


.calendarTitle {
  font-size: 18px;
  color: $nhs-mid-gray;
  text-align: center;
  margin-bottom: 15px;
}

.dashboardTitle {
  font-size: 30px;
  color: $nhs-light-blue;
  margin-bottom: 20px;
}

.bookPageLogin {
  font-size: 30px;
  color: $nhs-dark-blue;
  width: 80%;
}

.bookPageFlex {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.background {
  font-size: 100px;
}

.doctorInfo {
  font-size: 20px;
  color: $nhs-color;
  margin-bottom: 10px;
}


.imageStyle {
  width: 50%;
  margin-right: 30px;
  margin-left: 30px;
}


.appointmentFlex {
  display: flex;
  align-items: center;
}