@import '../css/reset.css';


$nhs-color: #005EB8;
$nhs-light-blue: #41B6E6;


body {
  color: $nhs-color;
}

.button {
  border: none;
  outline: none;
  background-color: $nhs-color;
  color: #fff;
  width: 380px;
  margin: 20px auto 40px auto;
  &:hover {
    color: #fff;
    background-color: $nhs-light-blue;
    transition: .3s ease;
  }
}

.formStyle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.links {
  text-decoration: underline;
  &:hover {
    color: $nhs-light-blue;
    transition: .3s ease;
  }
}

.selectInput {
  margin-top: 20px;
}

//dashboard

.MuiContainer-root {
  padding-left: 64px;
  padding-right: 24px;
}